/* This for when my button spins around and the user has to click it */

@keyframes rotate1 {
    
  
        0% { 
          transform: rotate(0deg)  
                translateY(150px) rotate(0deg); 
          } 
        
                100% { 
                    transform: rotate(360deg)  
                          translateY(300px) rotate(0deg); 
                } 
        }
/* This is a container for my button. It makes it way easier to work with. */

.buttonContainer {
        display: flex;
        justify-content: center;
      
      }

      /* This is the code for my button..duh*/
.button1 {

        position: absolute;
        height: 300px;
        width: 300px;
        margin-right: 50%;
        margin-left: 50%;
        border-radius: 50%;
        border-width: 0px;
        background-color: red;
        box-shadow: 0px 20px 0px 0px gray;

}

/* This is the code for Jimmy. The second button that shows up */

.button2 {
        background-color: green;
       font-size: 50px;
       

        
}

/* angry-dis3 are all actions I make the button do throughout the game. They are all called on in JS */

.angry {
        background-color: darkred;
}

.rotate {
        top: 350px;
        animation: rotate1 1ms linear infinite;
}

.invis {
        opacity: 0%;
        right: 200px;
        top: 400px;
}
.invis1 {
        left: 200px;
        bottom: 500px;
        opacity: 0%;
        height: 150px;
        width: 150px;
}

.dis1 {
        width: 200px;
        height: 200px;
}

.dis2 {
        width: 100px;
        height: 100px;
}

.dis3 {
        opacity: 0%
}


/* This code gives off the illusion of the button actually being clicks */


#button1:active{
        animation: pressAnimation .85ms;
        transform: translateY(4px);
        box-shadow: 0 15px 0 0 gray;
} 


