@keyframes rotate1 {
    
  
        0% { 
          transform: rotate(0deg)  
                translateY(150px) rotate(0deg); 
          } 
        
                100% { 
                    transform: rotate(360deg)  
                          translateY(300px) rotate(0deg); 
                } 
        }


.buttonContainer {
        display: flex;
        justify-content: center;
      
      }

.button1 {

        position: absolute;
        height: 300px;
        width: 300px;
        margin-right: 50%;
        margin-left: 50%;
        border-radius: 50%;
        border-width: 0px;
        background-color: red;
        box-shadow: 0px 20px 0px 0px gray;

}

.button2 {
        background-color: green;
       font-size: 50px;
       

        
}

.angry {
        background-color: darkred;
}

.rotate {
        top: 350px;
        animation: rotate1 1ms linear infinite;
}

.invis {
        opacity: 0%;
        right: 200px;
        top: 400px;
}
.invis1 {
        left: 200px;
        bottom: 500px;
        opacity: 0%;
        height: 150px;
        width: 150px;
}

#button1:active{
        animation: pressAnimation .85ms;
        transform: translateY(4px);
        box-shadow: 0 15px 0 0 gray;
} 


